:root {
    --white:        #fff;
    --black:        rgb(20, 19, 19);
    --colorBrand:   rgb(12, 109, 219);
    --bgGrey:       #cecece;
    --textGrey:     #707072;
    --fontAlt:      'Open Sans', sans-serif;
    --fontMain:     'Libre Baskerville', serif;

    --sizeContainer:     1280px;
    --sizeContainerText: 768px;
}

* {
    box-sizing: border-box;
}

html {
    // better font rendering across platforms
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    font-family: var(--fontMain);
    font-size: 16px;
    color: var(--black);
}

h3 {
    text-align: center;
}

a {
    text-decoration: underline;
    color: var(--black);
    font-weight: 600;
    @include animate;
    &:hover, &:focus, &:active {
        color: var(--colorBrand);
        @include animate;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@mixin imageCover {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
@mixin container {
    max-width: var(--sizeContainer);
    width: 100%;
    margin: 0 auto;
}
@mixin animate {
    transition: all .3s linear;
}

h1,h2,h3,h4,h5,h6  {
    font-family: var(--fontAlt);
    text-transform: uppercase;
    font-weight: 700;
}

article {
    @include container;
    h3 {
        margin: 4rem 0 2.7rem;
        font-weight: 800;
        letter-spacing: 1.5px;
    }
}

p {
    max-width: var(--sizeContainerText);
    width: 100%;
    margin: 0 auto;
    color: var(--textGrey);
    margin-bottom: 1.5rem;
    line-height: 175%;
}

header {
    padding: 0 .7rem;
    display: flex;
    align-items: center;
    .logo {
        font-family: var(--fontAlt);
        font-size: 1.5rem;
        font-weight: normal;
        cursor: pointer;
        &:hover {
            animation-name: colorChange;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: step-start;
        }
    }
    nav {
        margin-left: auto;
        ul {
            list-style: none;
            li {
                display: inline-block;
                a {
                    padding: .34rem .8rem;
                    color: var(--black);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: var(--fontAlt);
                    text-transform: uppercase;
                    border-radius: 3px;
                    @include animate;
                }
                &:hover a {
                    background-color: var(--colorBrand);
                    color: var(--white);
                    @include animate;
                }
            }
        }
    }
}

.promoHeader {
    position: relative;
    display: flex;
    background-color: black;
    width: 100%;
    height: 60vh;
    max-height: 600px;
    img.promoBackground {
        @include imageCover;
        opacity: .65;
        filter: blur(2px);
    }
    h2 {
        position: absolute;
        z-index: 2;
        color: var(--white);
        text-align: center;
        width: 100%;
        align-self: center;
        font-size: 4.5rem;
        letter-spacing: 1.2px; 
        text-transform: uppercase;
        margin: 0;
    }
}

.avatarAuthor {
    width: 125px;
    height: 125px;
    position: absolute;
    bottom: calc(-125px / 2);
    left: calc(50% - (125px / 2));
    img {
        @include imageCover;
        border-radius: 50%;
        border: 2px solid var(--white);
    }
}

.preText {
    font-size: 1.7rem;
    margin: 7rem auto 2.5rem;
    font-style: italic;
    line-height: 150%;
    text-align: justify;
    color: var(--black);
}

.imageFull {
    height: 450px;
    background-color: var(--black);
    position: relative;
    img {
        @include imageCover;
        @include animate;
    }
    > div {
        position: absolute;
        top: 0;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: var(--white);
        opacity: 0;
        @include animate;
    }
    &:hover {
        > div {
            opacity: 1;
            @include animate;
             backdrop-filter: saturate(180%) blur(5px);
        }
        img {
            opacity: .4;
            @include animate;
        }
    }
}

.moreArticles {
    @include container;
    display: flex;
    margin: 5rem auto 2.5rem;
    &Item {
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 1.7rem;
        padding-top: 0;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &:after {
            content: "";
            background: url("/app/image/ico-play.svg") no-repeat 50% 50%;
            background-size: 100px;
            width: 100%;
            height: 200px;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            @include animate;
        }
        h4 {
            text-align: center;
            color: var(--textGrey);
            text-transform: initial;
            font-weight: normal;
            font-size: .9rem;
            @include animate;
            line-height: 135%;
            font-family: var(--fontMain);
            margin-top: 15px;
        }
        .imageCard {
            @include imageCover;
            height: 200px;
            order: -1;
            @include animate;
        }
        &:hover {
            &:after {
                opacity: .4;
                @include animate;
            }
            .imageCard {
                transform: scale(1.03);
                @include animate;
            }
            h4 {
                color: var(--black);
                @include animate;
            }
        }
    }
}

footer {
    background-color: var(--bgGrey);
    padding: 5rem 0;
    display: flex;
    align-items: center;
    .footerSocial {
        list-style: none;
        margin: 0 auto;
        li {
            display: inline-flex;
            padding: 0 .4rem;
            img, svg {
                width: 36px;
                height: 36px;
                object-fit: contain;
            }
            svg {
                fill: var(--textGrey);
                path {
                    fill: var(--textGrey);
                    @include animate;
                }
                @include animate;
                &:hover {
                    fill: var(--colorBrand);
                    path {
                        fill: var(--colorBrand);
                        @include animate;
                    }
                    @include animate;
                }
            }
        }
    }
}

.articleContentImage {
    max-width: var(--sizeContainerText);
    margin: 0 auto;
    display: block;
    position: relative;
    &:before {
        content: "";
        float: right;
        height: 320px;
        width: 320px;
    }
}
.imageRight {
    float: right;
    width: 280px;
    height: 280px;
    object-position: cover;
    position: absolute;
    right: 0;
    top: 0;
  }

  @keyframes colorChange {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }
